<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory suffix="Test.php">./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>

    <php>
        <server name="QUEUE_CONNECTION" value="mns"/>
        <server name="ALIYUN_ACCESS_KEY_ID" value=""/>
        <server name="ALIYUN_ACCESS_KEY_SECRET" value=""/>
        <server name="ALIYUN_MNS_ENDPOINT" value=""/>
        <server name="ALIYUN_MNS_QUEUE" value=""/>
    </php>
</phpunit>
